@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
  --primary-color: rgb(248, 191, 131);
  --primary-color-dark: rgb(242, 255, 0);
  --secondary-color: white;
  --text-dark:  brgba(0, 0, 0, 0.235);
  --text-light: rgb(246, 246, 246);
  --extra-light: rgba(118, 234, 254, 0.71);

  --max-width: 1200px;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section_container{
  padding: 5rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section_title{
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.section_subtitle{
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 5rem;
  text-align: center;
}

img{
  width: 100%;

}
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: transparent;
  border-radius: 0; 
  z-index: 999;
}
.nav_logo a{
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}
.nav_links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
.nav_links .link a {
  display: inline-block;  
  text-decoration: none;   
  padding: 0.3rem 0.6rem; 
  font-size: 0.75rem; 
  border-radius: 15px;
  background-color: var(--primary-color);
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav_links .link a:hover {
  color: black;
  transform: scale(1.05);
}


.nav_logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-light);
}

header{
  height: 100vh;
  background-image: url('Africa-Travel-Tips.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: white;
  max-width: 800px;
  padding: 2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.header_content h1{
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
}

.header_content p{
  text-align: center;
  line-height: 1.8;
  font-size: 1.2rem;
  max-width: 700px;
}

.header_content button{
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.header_content button:hover{
  background-color: var(--primary-color-dark);
}

.journey_container{
  background-color: var(--secondary-color);

}

.journey_g{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}



.country_card{
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.country_card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  display:block;
  border-radius: 10px;
}



@media (min-width: 640px){
  .nav_links{
    display: flex;

  }

  header .section_container{
    justify-content: flex-start;
  }

  .header_content {
    max-width: 400px;
    align-items: flex-start;
  }

  .header_content p{
    text-align: left;
  }

  .journey_g{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .journey_container h2{
    color: black;
    font-size: 30px;

  }
  .journey_container p{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

  #shared_experiences {
  text-align: center;
  padding: 5rem 1rem;
}

#shared_experiences h2 {
  font-size: 2rem;
  color:black;
  margin-bottom: 1rem;
}

#shared_experiences p {
  font-size: 1.2rem;
  font-style: italic;
  color: black;
  margin-bottom: 3rem;
 
}





}