.login-page{
    background-image:url(paysage_africain.png);
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-page{
    background-image: url(afrique.png);
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;

}

div{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;


}

h2{
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
}

input{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    color:black;
}

label[for="username"], label[for="password"], label[for="email"]{
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-weight: bold;
    text-shadow: 0cqmin 0cqmin 5px black;
}

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
a{font-size: 25px;

    font-family: Georgia, 'Times New Roman', Times, serif;
color: darkblue;}

button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(49, 7, 7);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
